#main {
  text-align: center;
  font-family: Helvetica;
}

#goButton {
  color: black;
  height: 40px;
  width: 90px;
}

#restartButton {
  color: black;
  height: 40px;
  width: 90px;
}

#zipInput {
  height: 40px;
  width: 90px;
}

#dateInput {
  height: 40px;
  width: 90px;
}

#mainWeather {
  padding-top: 40px;
}

#weatherContainer {
  display: inline-flex;
  height:100px;
  width: 600px;
  border-color: 2px blue;
  padding: 25px;
  text-align: center
}

.mainCards {
  border: red;

}

.locationDiv {
  color: grey;
  font-size: 20px;

}

.weatherCards {
  padding: 10px;
  width: 350px;

}

.dateDiv {
  background-color: #42AAD0;
  height: 30px;
  width:160px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 4px;
}

.iconDiv {
  display: inline-grid;

}

.conditionsDiv {

}

.temperatureDiv {
  color: \xB0;
}
