#main {
text-align: center;
font-family: Helvetica;
}

#goButton {
  color: black;
  height: 40px;
  width: 90px;
}

#zipInput {
  height: 40px;
  width: 90px;
}

#dateInput {
  height: 40px;
  width: 90px;
}

#mainWeather {
  padding-top: 40px;
}

#weatherContainer {
  display: flex;
  flex-direction: start;
  height:90px;
  width: 160px;
  border-color: 2px blue;
  padding: 25px;
}

.mainCards {
  border: red;

}

.locationDiv {
  border: black;

}

.weatherCards {
  padding: 25px;

}

.dateDiv {
  background-color: #34AAEF;
  height: 30px;
  width:160px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
}

.iconDiv {
  display: inline-flex;

}

.conditionsDiv {

}

.temperatureDiv {

}
